{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Konga</title>
    <link rel="stylesheet" href="{% static 'Store/styles.css' %}">
</head>
<body>
    <h1>Welcome to the Konga Home Page</h1>
    <div>
        {% for product in all_products %}
        <h2><a href="{%url 'detail' product.id %}">{{product.name}}</a></h2> <h3><a href="{%url 'detail' product.id %}">{{product.price}}</a></h3>
        <img src="{{product.image.url}} " width="200px" height="200px" alt="{{product.name}}">
        <br>
        {%endfor%}
    </div>
</body>
</html>